*{
	margin: 0;
	padding: 0;
}

a{
	color:white;
}

a:link {
	text-decoration: none;
}

a:hover{
	color: #5A3448;
}


body{
	font-family: 'Merriweather', serif;
	background: #333;
	color: #fff;
	line-height: 1.6;
	height: 100vh;
}

.sectionDescription{
	font-family: 'Muli', sans-serif;
}


#top_btn{
	display: none;
  	position: fixed;
  	bottom: 50px;
  	right: 50px;
  	z-index: 99;
  	font-size: 18px;
  	border: none;
  	outline: none;
  	background-color: #383838;
  	color: white;
  	cursor: pointer;
  	padding: 0px 3px;
  	border-radius: 50px;
}

#arrow{
	font-size: 70px;
}



/* OG PHONE SIZE (375px) */

section#firstSection{
	background-color: #806F78 !important;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	background-size: cover;
	background: fixed;
	z-index: 1;
}

#firstSection .sectionImage{
	display: none;
}

#firstSection .sectionImage#flower1{
	display: block;
	background: #806F78;
	position: absolute;
	left:-100px;
	top: -100px;
	width: 100%;
	height: auto;
	overflow-y: hidden;
	transition: all 3s ease;
	/*transition-delay: 3s;*/
}

#firstSection .sectionImage#flower1.hidden{
	opacity: 0;
}

/*hr{
	border-width: 2px;
	background-color: #3E1B18;
	margin-top: 80px;
}

.horizontalHR{
	transition: all 2.5s ease;
}

.horizontalHR.hidden{
	opacity:0;
	transform: translateX(-2000px);
}

.roatedHR{
	-webkit-transform:rotate(90deg);
	margin-left: -250px;
	transition: all 2.5s ease;
}

.roatedHR.hidden{
	opacity:0;
	transform: translateY(2000px);
}*/

.title{
	font-size: 40px;
	margin-bottom: 30px;
	list-style: none;
	/*transform: translateX(-50%) translateY(-50%);*/
}

.title li{
	display: inline-block;
	transition: all 2.5s ease;
}

.title li:last-child{
	margin-right:0;
}

.title.hidden li{
	opacity: 0;
}

.title.hidden li:nth-child(1){transform: translateX(-200px) translateY(-200px);}
.title.hidden li:nth-child(2){transform: translateX(20px) translateY(100px);}
.title.hidden li:nth-child(3){transform: translateX(-150px) translateY(-80px);}
.title.hidden li:nth-child(4){transform: translateX(10px) translateY(-200px);}
.title.hidden li:nth-child(5){transform: translateX(-300px) translateY(200px);}
.title.hidden li:nth-child(6){transform: translateX(300px) translateY(200px);}
.title.hidden li:nth-child(7){transform: translateX(-100px) translateY(20px);}

.centerGroup{
	position: absolute;
	left: 30px;
	top: 400px;
	width: 90%;
}

.threeSections{
	margin-right: 30px;
	font-size: 15px;
}

.threeSectionsGroup{
	opacity: 1;
	transition: all 5s ease;
}

.threeSectionsGroup.hidden{
	opacity:0;
}


section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 1400px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#secondSection .backgroundText{
	display: none;
}

#secondSection .sectionImage{
	width: 100%;
	height: 250px;
	overflow-y: hidden;
	background: url('photos/ashtanga.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#secondSection .sectionHeading{
	position: absolute;
	font-size: 70px;
	line-height: 5rem;
	left: 30px;
	top: 50px;
}

#secondSection .sectionSubHeading{
	position: absolute;
	color: #3E1B18;
	font-size: 30px;
	left: 30px;
	top: 280px;
}

#secondSection .sectionDescription {
    position: absolute;
	font-size: 20px;
    width: 90%;
    left: 30px;
    top: 360px;
}


section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1100px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}


#thirdSection .backgroundText{
	display: none;
}

#thirdSection .sectionHeading{
	position: absolute;
	font-size: 60px;
	line-height: 5rem;
	left: 30px;
	top: 30px;
}

#thirdSection .sectionImage{
	width: 100%;
	height: 1100px;
	overflow-x: hidden;
	overflow-y: hidden;
	filter: brightness(90%);
	background: url('photos/flower2.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

#thirdSection .sectionDescription{
	position: absolute;
	font-size: 20px;
	left: 5%;
	top: 250px;
	width: 90%;
	line-height: 1.5rem;
	background-color: #333;
	padding: 2rem 2rem;
	text-align: center;
	opacity: 0.8;
}

#thirdSection #rightDescription.sectionDescription{
	left: 5%;
	top: 660px;
}


section#fourthSection{
	background-color: #F3E0DF;
	width: 100%;
	height: 1150px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#fourthSection .backgroundText{
	display: none;
	font-size: 200px;
	position: absolute;
	left: -100px;
	top: -50px;
	opacity: 1;
	overflow-y: hidden;
}

#fourthSection .sectionHeading{
	position: absolute;
	font-size: 70px;
	line-height: 5rem;
	left: 30px;
	top: 30px;
}

.scrolling-wrapper {
	margin-top: 200px;
  	overflow-x: scroll;
  	overflow-y: hidden;
  	white-space: nowrap;
}

.card {
   display: inline-block;  
   background: none;
   border-style: none;
   margin: 4rem 8rem 0 3rem;
   padding-bottom: 5rem;
   text-align: center;
}

.yogaIcons{

}

.yogaName{
	color: #3E1B18;
	font-size: 30px;
	margin-top: 30px;
	font-family: 'Muli', sans-serif;
}

.yogaNameEng{
	color: #3E1B18;
	font-size: 20px;
	font-family: 'Muli', sans-serif;
}


section#fifthSection{
	background-color: #B28D8B;
	width: 100%;
	height: 1500px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

#fifthSection .backgroundText{
	display: none;
}

#fifthSection .sectionHeading{
	position: absolute;
	font-size: 70px;
	line-height: 5rem;
	left: 30px;
	top: 50px;
}

#fifthSection .sectionDescription{
	font-size: 20px;
	margin-top: 10px;
}

#fifthSection .sectionImage{
	width: 70%;
}

.insta_group{
	text-align: center;
	margin-top: 200px;
	margin-bottom: -100px;
}



div#quoteOne{
	background-color: #3F3F3F;
	text-align: center;
	padding: 5rem 2rem;
	color: #FFF9F1;
	width: 100%;
	height: 300px;
	font-style: italic;
	font-family: 'Muli', sans-serif;
}


/* MIN WIDTH 450 */
@media only screen and (min-width: 450px){
	section#fifthSection{
	height: 1600px;
	}
}




/* MIN WIDTH 500 */
@media only screen and (min-width: 500px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#firstSection .sectionImage{
		display: none;
	}

	#firstSection .sectionImage#flower1{
		display: block;
		position: absolute;
		left:-100px;
		top: -100px;
		width: 100%;
		height: auto;
		overflow-y: hidden;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -400px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 80%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}


	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 1200px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: none;
	}

	#secondSection .sectionImage{
		width: 100%;
		height: 350px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		font-size: 100px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 40px;
		left: 30px;
		top: 380px;
	}

	#secondSection .sectionDescription {
	    width: 90%;
	    left: 30px;
	    top: 450px;
	    font-size: 20px;
	}


	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1300px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: none;
	}

	#thirdSection .sectionHeading{
		position: absolute;
		font-size: 100px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	#thirdSection .sectionImage{
		width: 100%;
		height: 1300px;
		overflow-y: hidden;
		filter: brightness(90%);

	}

	#thirdSection .sectionDescription{
		left: 5%;
		top: 350px;
		width: 90%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 5%;
		top: 800px;
	}


	section#fourthSection{
	background-color: #F3E0DF;
	width: 100%;
	height: 1150px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#fourthSection .backgroundText{
		font-size: 200px;
		position: absolute;
		left: -100px;
		top: -50px;
		opacity: 0.2;
		overflow-y: hidden;
	}

	#fourthSection .sectionHeading{
		position: absolute;
		font-size: 100px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	.scrolling-wrapper {
		margin-top: 250px;
	  	overflow-x: scroll;
	  	overflow-y: hidden;
	  	white-space: nowrap;
	}

	.card {
	display: inline-block;  
	background:none;
	border-style: none;
	margin: 4rem 8rem 0 3rem;
	text-align: center;
	}

	.yogaIcons{

	}

	.yogaName{
		color: #3E1B18;
		font-size: 30px;
		margin-top: 30px;
	}

	.yogaNameEng{
		color: #3E1B18;
		font-size: 20px;
	}

	section#fifthSection{
		height: 1800px;
	}


	#fifthSection .sectionHeading{
	position: absolute;
	font-size: 90px;
	line-height: 5rem;
	left: 30px;
	top: 50px;
	}


	div#quoteOne{
	background-color: #3F3F3F;
	text-align: center;
	padding: 5rem 2rem;
	color: #FFF9F1;
	width: 100%;
	height: 300px;
	font-size: 20px;
	}

}





/* MIN WIDTH 600 */
@media only screen and (min-width: 600px){
	section#fifthSection{
		height: 1900px;
	}
}


/* MIN WIDTH 640 */
@media only screen and (min-width: 640px){
	section#fifthSection{
		height: 2100px;
	}
}


/* MIN WIDTH 700 */
@media only screen and (min-width: 700px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#firstSection .sectionImage{
		display: none;
	}

	#firstSection .sectionImage#flower1{
		display: block;
		position: absolute;
		left:-100px;
		top: -100px;
		width: 70%;
		height: auto;
		overflow-y: hidden;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -600px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 80%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}


	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 1050px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: none;
	}

	#secondSection .sectionImage{
		width: 100%;
		height: 350px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		font-size: 130px;
		line-height: 8rem;
		left: 30px;
		top: 90px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 40px;
		left: 30px;
		top: 380px;
	}

	#secondSection .sectionDescription {
	    width: 90%;
	    left: 30px;
	    top: 450px;
	    font-size: 20px;
	}


	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1100px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: none;
	}

	#thirdSection .sectionHeading{
		position: absolute;
		font-size: 120px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	#thirdSection .sectionImage{
		width: 100%;
		height: 1300px;
		overflow-y: hidden;
		filter: brightness(90%);
	}

	#thirdSection .sectionDescription{
		left: 5%;
		top: 350px;
		width: 90%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 5%;
		top: 700px;
	}


	section#fourthSection{
	background-color: #F3E0DF;
	width: 100%;
	height: 1150px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#fourthSection .backgroundText{
		font-size: 200px;
		position: absolute;
		left: -100px;
		top: -50px;
		opacity: 0.2;
		overflow-y: hidden;
	}

	#fourthSection .sectionHeading{
		position: absolute;
		font-size: 120px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	.scrolling-wrapper {
		margin-top: 250px;
	  	overflow-x: scroll;
	  	overflow-y: hidden;
	  	white-space: nowrap;
	}

	.card {
	display: inline-block;  
	background:none;
	border-style: none;
	margin: 4rem 5.5rem 0 3rem;
	text-align: center;
	}


	.yogaIcons{

	}

	.yogaName{
		color: #3E1B18;
		font-size: 30px;
		margin-top: 30px;
	}

	.yogaNameEng{
		color: #3E1B18;
		font-size: 20px;
	}

	section#fifthSection{
		height: 2200px;
	}

	#fifthSection .sectionHeading{
	position: absolute;
	font-size: 120px;
	line-height: 5rem;
	left: 30px;
	top: 50px;
	}

}







/* MIN WIDTH 768 */
@media only screen and (min-width: 768px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#firstSection .sectionImage{
	display: block;
	float: right;
	width: 50%;
	height: 1000px;
	overflow-y: hidden;
	background: url('photos/coverphoto.jpeg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	transition: all 3s ease;
	opacity: 0.8;
	}

	#firstSection .sectionImage#flower1{
		display: block;
		position: absolute;
		left:-100px;
		top: -100px;
		width: 60%;
		height: auto;
		overflow-y: hidden;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -680px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 40%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}

	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 1000px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: none;
	}

	#secondSection .sectionImage{
		width: 100%;
		height: 350px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		font-size: 150px;
		line-height: 8rem;
		left: 30px;
		top: 50px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 40px;
		left: 30px;
		top: 380px;
	}

	#secondSection .sectionDescription {
	    width: 90%;
	    left: 30px;
	    top: 450px;
	    font-size: 20px;
	}




	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1100px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: none;
	}

	#thirdSection .sectionHeading{
		position: absolute;
		font-size: 150px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	#thirdSection .sectionImage{
		width: 100%;
		height: 1100px;
		overflow-y: hidden;
		filter: brightness(90%);
	}

	#thirdSection .sectionDescription{
		left: 5%;
		top: 350px;
		width: 90%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 5%;
		top: 700px;
	}

	section#fifthSection{
		height: 2400px;
	}

}






/* MIN WIDTH 850 */
@media only screen and (min-width: 850px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -700px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 38%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}

	section#fifthSection{
		height: 2500px;
	}
}





/* MIN WIDTH 992 */
@media only screen and (min-width: 910px){
	section#fifthSection{
		height: 2600px;
	}
}


/* MIN WIDTH 960 */
@media only screen and (min-width: 960px){
	section#fifthSection{
		height: 2800px;
	}
}



/* MIN WIDTH 992 */
@media only screen and (min-width: 992px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#firstSection .sectionImage#flower1{
	display: block;
	position: absolute;
	left:-100px;
	top: -100px;
	width: 50%;
	height: auto;
	overflow-y: hidden;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -850px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 40%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}


	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 900px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: none;
	}

	#secondSection .sectionImage{
		width: 100%;
		height: 350px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		font-size: 190px;
		line-height: 8rem;
		left: 30px;
		top: 90px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 40px;
		left: 30px;
		top: 380px;
	}

	#secondSection .sectionDescription {
	    width: 90%;
	    left: 30px;
	    top: 450px;
	    font-size: 20px;
	}


	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1100px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: none;
	}

	#thirdSection .sectionHeading{
		position: absolute;
		font-size: 190px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}

	#thirdSection .sectionImage{
		width: 100%;
		height: 1100px;
		overflow-y: hidden;
		filter: brightness(90%);
	}

	#thirdSection .sectionDescription{
		left: 5%;
		top: 350px;
		width: 90%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 5%;
		top: 700px;
	}


	#fourthSection .sectionHeading{
		position: absolute;
		font-size: 190px;
		line-height: 8rem;
		left: 30px;
		top: 20px;
	}


	section#fifthSection{
	background-color: #B28D8B;
	width: 100%;
	height: 750px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#fifthSection .sectionHeading{
		position: absolute;
		font-size: 190px;
		line-height: 5rem;
		left: 30px;
		top: 80px;
	}

	#fifthSection .sectionDescription{
		font-size: 24px;
		margin-top: 20px;
	}

	.insta_group{
		text-align: center;
		margin-top: 300px;
		margin-bottom: -100px;
	}


	div#quoteOne{
	background-color: #3F3F3F;
	text-align: center;
	padding: 6rem 2rem;
	color: #FFF9F1;
	width: 100%;
	height: 250px;
	font-size: 20px;
	}

}







/* MIN WIDTH 1050 */
@media only screen and (min-width: 1050px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -900px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 470px;
		width: 35%;
	}
}







/* MIN WIDTH 1200 */
@media only screen and (min-width: 1200px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 800px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -1050px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 500px;
		width: 60%;
	}

	.title{
		font-size: 40px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 30px;
		font-size: 15px;
	}


	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 950px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: block;
	font-size: 250px;
	transform: rotate(-90deg);
	left: -600px;
	top: 200px;
	opacity: 0.2;
	overflow-y: hidden;
	position: absolute;
	}

	#secondSection .sectionImage{
		float: right;
		width: 50%;
		height: 950px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		width: 50%;
		font-size: 80px;
		left: 30px;
		top: 20px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 30px;
		left: 90px;
		top: 150px;
	}

	#secondSection .sectionDescription {
	    width: 40%;
	    left: 90px;
	    top: 200px;
	    font-size: 20px;
	}



	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1000px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: block;
		opacity: 0.5;
		font-size: 250px;
		transform: rotate(0deg);
		left: -40px;
		top: 700px;
		overflow-y: hidden;
		position: absolute;
	}

	#thirdSection .sectionHeading{
		top: 550px;
		left: 100px;
		width: 50%;
		line-height: 8rem;
	}

	#thirdSection .sectionImage{
		width: 80%;
		height: 1000px;
		overflow-y: hidden;
		filter: brightness(90%);
	}

	#thirdSection .sectionDescription{
		left: 100px;
		top: 100px;
		width: 40%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 750px;
		top: 500px;
	}


	#fourthSection .sectionHeading{
		position: absolute;
		line-height: 8rem;
		left: 30px;
		top: 50px;
	}

	#fourthSection .backgroundText{
		display: block;
		font-size: 300px;
		position: absolute;
		left: -100px;
		top: -200px;
		opacity: 0.2;
		overflow-y: hidden;
	}



	section#fifthSection{
		background-color: #B28D8B;
		width: 100%;
		height: 1100px;
		overflow-x: hidden;
		overflow-y: hidden;
		position: relative;
	}

	#fifthSection .sectionHeading{
		position: absolute;
		line-height: 8rem;
		left: 30px;
		top: 700px;
		margin-top: 100px;
	}

	#fifthSection .backgroundText{
		display: block;
		opacity: 0.2;
		font-size: 250px;
		transform: rotate(0deg);
		line-height: 15rem;
		left: 20px;
		top: -90px;
		overflow-y: hidden;
		position: absolute;
	}
}




/* MIN WIDTH 1300*/
/*@media only screen and (min-width: 1300px){
	#fifthSection .sectionImage{
		width: 70%;
	}
}*/





/* MIN WIDTH 1600 */
@media only screen and (min-width: 1600px){
	section#firstSection{
	background-color: #806F78;
	width: 100%;
	height: 1000px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}

	#firstSection .sectionImage#flower1{
		display: block;
		position: absolute;
		left:-250px;
		top: -350px;
		width: auto;
		overflow-y: hidden;
	}

	/*hr{
		border-width: 2px;
		background-color: #3E1B18;
		margin-top: 80px;
	}

	.roatedHR{
		-webkit-transform:rotate(90deg);
		margin-left: -1550px;
	}*/

	.centerGroup{
		position: absolute;
		left: 90px;
		top: 550px;
		width: 60%;
	}

	.title{
		font-size: 60px;
		margin-bottom: 30px;
	}

	.threeSections{
		margin-right: 100px;
		font-size: 20px;
	}


	section#secondSection{
	background-color: #CCA09D;
	width: 100%;
	height: 950px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}	

	#secondSection .backgroundText{
	display: block;
	font-size: 250px;
	transform: rotate(-90deg);
	left: -600px;
	top: 200px;
	opacity: 0.2;
	overflow-y: hidden;
	position: absolute;
	}

	#secondSection .sectionImage{
		float: right;
		width: 50%;
		height: 950px;
		overflow-y: hidden;
	}

	#secondSection .sectionHeading{
		position: absolute;
		width: 50%;
		font-size: 120px;
		left: 30px;
		top: 50px;
	}

	#secondSection .sectionSubHeading{
		position: absolute;
		color: #3E1B18;
		font-size: 30px;
		left: 90px;
		top: 230px;
	}

	#secondSection .sectionDescription {
	    width: 40%;
	    left: 90px;
	    top: 300px;
	    font-size: 20px;
	}



	section#thirdSection{
	background-color: #CCB19D;
	width: 100%;
	height: 1000px;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	}


	#thirdSection .backgroundText{
		display: block;
		opacity: 0.5;
		font-size: 250px;
		transform: rotate(0deg);
		left: -40px;
		top: 700px;
		overflow-y: hidden;
		position: absolute;
	}

	#thirdSection .sectionHeading{
		top: 500px;
		left: 100px;
		width: 50%;
		line-height: 8rem;
	}

	#thirdSection .sectionImage{
		width: 80%;
		height: 1000px;
		overflow-y: hidden;
		filter: brightness(90%);
	}

	#thirdSection .sectionDescription{
		left: 100px;
		top: 100px;
		width: 40%;
		line-height: 1.5rem;
		background-color: #333;
		padding: 2rem 2rem;
		text-align: center;
		opacity: 0.8;
	}

	#thirdSection #rightDescription.sectionDescription{
		left: 950px;
		top: 500px;
	}

	div#quoteOne{
	background-color: #3F3F3F;
	text-align: center;
	padding: 6rem 2rem;
	color: #FFF9F1;
	width: 100%;
	height: 200px;
	font-size: 20px;
	}

}



